<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <!-- TEST -->
    <!-- <add name="SapphireDbContext" connectionString="Data Source=10.70.12.25;Initial Catalog=KovaFischerTesting;User ID=FischerReader;Password=tVZSTVKgd8uSFDYirvsU;Connection Timeout=6000;" />
    <add name="PervasiveDbContext" connectionString="Server=FH-DEV-07;Database Name=INFOSYS;Pooling=true;Connection Timeout=0;" />
    <add name="SWAPI" connectionString="Data Source=data-integration-development.cz6bwteoeiw7.us-east-1.rds.amazonaws.com;Initial Catalog=swapi;User ID=swapi;Password=EnzCzRqVSheE;"/>
    <add name="AWS_SWAPI" connectionString="Data Source=data-integration-development.cz6bwteoeiw7.us-east-1.rds.amazonaws.com;Initial Catalog=swapi;Integrated Security=False;User ID=swapi;Password=EnzCzRqVSheE;" providerName="System.Data.SqlClient" />
    <add name="AWS_DIProcessor" connectionString="Data Source=data-integration-development.cz6bwteoeiw7.us-east-1.rds.amazonaws.com;Initial Catalog=DIProcessor;Integrated Security=False;User Id=DIProcessor;Password=kPBY2@aQ#APR" providerName="System.Data.SqlClient"/> -->
   
		
    <!-- PROD -->
    <add name="SapphireDbContext" connectionString="Server=10.70.12.25;Initial Catalog=KovaFischer;User ID=FischerReader;Password=tVZSTVKgd8uSFDYirvsU;Connection Timeout=6000;" />
    <add name="PervasiveDbContext" connectionString="Server=PHPRD001;Database Name=INFOSYS;Pooling=true;Connection Timeout=0;" />
    <add name="AWS_SWAPI" connectionString="Data Source=data-integration.cz6bwteoeiw7.us-east-1.rds.amazonaws.com;Initial Catalog=swapi;Integrated Security=False;User ID=swapi;Password=EnzCzRqVSheE;" providerName="System.Data.SqlClient" />
    <add name="AWS_DIProcessor" connectionString="Data Source=data-integration.cz6bwteoeiw7.us-east-1.rds.amazonaws.com;Initial Catalog=DIProcessor;Integrated Security=False;User Id=DIProcessor;Password=kPBY2@aQ#APR" providerName="System.Data.SqlClient"/>
    <add name="SentryDSN" connectionString="https://d6c4cc26a4a14211bde1206019bca81f@sentry.io/1444156"/>
    
    <!-- <add name="QueueDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DataIntegrationQueue;Integrated Security=True;Persist Security Info=True;" />
    <add name="JobCostReconciliation.Properties.Settings.DataIntegrationQueueConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DataIntegrationQueue;Integrated Security=True;Persist Security Info=True"
         providerName="System.Data.SqlClient" /> -->

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SentryDsn" value="https://d6c4cc26a4a14211bde1206019bca81f@sentry.io/1444156" />
    <add key="SentryAuthUrl" value="https://sentry.io/oauth/authorize/"/>
    <add key="SentryTokenUrl" value="https://sentry.io/oauth/token/"/>
    <add key="SentryClientID" value="012ed4f5dc5d497e893c18e03caf75a6ddec48e84af54a6e9b5adea6c0264675"/>
    <add key="SentryClientSecret" value="220ed4c7af714e2482384815c5649024c914f011cac449b2bac2a2cf70ddcd88"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
