body {
  color: #333;
}

h1 {
  color: #ba0c2f;
  font-size: 2.5rem;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #555;
  z-index: 1;
}

.header,
.header a {
  color: #fff;
}

.header a,
.header a:hover,
.header a:not([href]),
.header a:not([href]):hover {
  cursor: pointer;
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  overflow-y: auto;
}

.content > * {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 100%;
}

.content__fade-enter {
  opacity: 0.01;
}

.content__fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.content__fade-exit {
  opacity: 1;
}

.content__fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.notifications {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .header {
    width: 250px;
  }

  .content > * {
    left: 250px;
    top: 0;
    width: auto;
  }
}
